@model IEnumerable<DogVacay_Anubis_1509.Models.Stay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dog.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StayDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Dog.FirstName)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.StayDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StayId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StayId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StayId })
        </td>
    </tr>
}

</table>

@*<div id="divGCalendar">
    <iframe src="https://calendar.google.com/calendar/embed?src=qehbt8lf9drhf03grpk2hlnb14%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>*@

<div id='calendar'></div>


@section Scripts {
    @Scripts.Render("~/bundles/fullcalendar")
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready

            $('#calendar').fullCalendar({
                // put your options and callbacks here
                
                ////default:
                //header: { 
                //    left: 'title',
                //    center: '',
                //    right: 'today prev,next'
                //}

                //firstDay: 0 //default - Sunday
                //theme: true,
                editable: false,

                //events: function (start, end, timezone, callback) {
                //    $.ajax({
                //        url: source,
                //        type: 'POST',
                //        data: {},
                //        success: function (doc) {
                //            events.push(doc);
                //            callback(events);
                //        }
                //    });
                //}

                //events: “/home/getevents/”
                events: "/Stay/GetEvents/"


                
            })

            //var myCalendar = $('#calendar');
            //myCalendar.fullCalendar();
            //var myEvent = {
            //    title: "my new event",
            //    allDay: true,
            //    start: new Date(),
            //    end: new Date()
            //};
            //myCalendar.fullCalendar('renderEvent', myEvent);



                     
                         
                  





        });
    </script>
}

